<div class="foo">
    <div class="foo__divider"></div>
    <div class="foo__wrapper">
        <p class="foo__meta">© 2020 Solisgroup. All Rights Reserved.</p>
        <div class="foo__dev">
            <p class="foo__meta">made by</p>
            <a class="foo__link" href="#">Zgraya.digital</a>
        </div>
        <div class="foo__agreements">
            <a class="foo__link" href="#">User Agreement</a>
            <a class="foo__link" href="#"> Privacy Policy</a>
        </div>
    </div>
</div>
