<header class="header">
    <div class="header__navigation">
        <a href="#"><svg class="header__logo">
            <use xlink:href="./src/assets/sprite.svg#logo"/>
        </svg></a>
        <nav class="header__nav-list">
            <ul class="header__list-items">
                <li class="header__list-item">
                    <a class="header__nav-link" href="#"></a>Home
                </li>
                <li class="header__list-item">
                    <a class="header__nav-link" href="#"></a>About
                </li>
                <li class="header__list-item">
                    <a class="header__nav-link" href="#"></a>Products
                </li>
                <li class="header__list-item">
                    <a class="header__nav-link" href="#"></a>Use Cases
                </li>
                <li class="header__list-item">
                    <a class="header__nav-link" href="#"></a>Pricing
                </li>
                <li class="header__list-item">
                    <a class="header__nav-link" href="#"></a>Resources
                </li>
            </ul>
        </nav>
    </div>
</header>
