.benefits {
    @include flex();
    column-gap: 30px;
    row-gap: 60px;
    flex-wrap: wrap;

    &__wrapper {
        // border: 1px solid red;
        width: 570px;
        // flex: 1;
    }

    &__item-divider {
        height: 1px;
        width: 100%;
        background-color: $gray-color;
    }

    &__item-wrapper {
        margin: 50px 35px;
        // border: 1px solid green;
    }

    &__item-title {
        @include text(40px, 400, $dark-blue-color, 48px, "secondary");
        margin-bottom: 30px;
    }

    &__item-description {
        @include text(18px, 300, $dark-blue-color, 26px);
    }
}
