.container {
    max-width: $container-width;
    width: 100%;
    margin: 0 auto;
    @include flex($direction: column);
    row-gap: 50px;

    @include media("mobile") {
        row-gap: 120px;
    }
}
