.hero {
    margin-top: 174px;
    margin-bottom: 30px;

    &__wrapper {
        max-width: 523px;
        margin-left: 16px;

        @include media("mobile") {
            margin-left: 0;
        }
    }

    &__heading {
        @include text(44px, 400, $dark-blue-color, 52px, "secondary");
        margin-bottom: 20px;
    }

    &__description {
        @include text(18px, 300, $dark-blue-color-80, 26px);
        margin-bottom: 50px;
        max-width: 439px;
    }
}
