.info {
    // border: 1px solid red;
    position: relative;
    display: inline-block;
    height: 670px;
    @include flex($alignment: center, $justification: flex-end);

    &__image-wrapper {
        // visibility: visible;
        display: none;

        @include media("mobile") {
            display: inline;
            max-width: 570px;
            max-height: 670px;
            position: absolute;
            top: 45;
            left: 0;
            z-index: -1;
        }
    }

    &__image {
        width: 100%;
        // display: block;
        @include media("mobile") {
        }
    }

    &__text-container {
        // border: 1px solid blue;
        background-color: $white-color-90;
        max-width: 770px;
        // max-height: auto;
        // position: absolute;
        // top: 45px;
        // left: 400px;
        display: block;
        @include flex($justification: flex-end);
        // border: 1px solid red;
        // padding: 45px 0;
        flex-wrap: wrap;
        padding: 45px 0;
    }

    &__list {
        width: 370px;
        text-align: center;
        @include flex($direction: column, $alignment: center);
        flex: 1;
    }

    &__list-item {
        width: 100%;
        // border: 1px solid green;
    }

    &__statistic {
        @include flex($alignment: flex-end, $justification: center);
        gap: 10px;
        // border: 1px solid green;
        margin-bottom: 12px;
    }

    &__symbol {
        @include text(40px, 400, $gray-color, 50px, "secondary");
        // border: 1px solid green;
    }

    &__number {
        @include text(68px, 400, $dark-blue-color, 72px, "secondary");
        // border: 1px solid green;
    }

    &__statistic-description {
        @include text(18px, 300, $dark-blue-color-80, 26px);
    }

    &__description {
        max-width: 400px;
    }

    &__text {
        @include text(18px, 300, $dark-blue-color-80, 26px);
        margin-bottom: 50px;
    }

    &__divider {
        height: 1px;
        width: 100px;
        background-color: $green-color;
        margin-top: 40px;
        margin-bottom: 40px;
    }
}
