.promises {
    position: relative;
    display: inline-block;

    &__image {
        max-width: 600px;
        max-height: 540px;
        display: block;
    }

    &__text-container {
        background-color: $white-color-90;
        max-width: 770px;
        max-height: auto;
        position: absolute;
        top: 45px;
        left: 400px;
        @include flex();
        // border: 1px solid red;
        padding: 75px 0 75px 70px;
    }

    &__list {
        // border: 1px solid red;
        @include flex();
        row-gap: 70px;
        column-gap: 100px;
        flex-wrap: wrap;
    }

    &__item {
        // border: 1px solid blue;
        width: 300px;
    }

   &__title {
    @include text(24px, 400, $dark-blue-color, 48px, "secondary");
        margin-bottom: 8px;
   }

   &__pros {
    @include text(18px, 300, $dark-blue-color-80, 26px);
    margin-bottom: 6px;
   }

   &__button {
    padding: 33px 90px;
    border: 1px solid $gray-color;
    text-align: center;
    @include flex($alignment: center, $justification: center);
    // border: 1px solid red;
   }

   &__bg {
    position: absolute;
        left: 99px;
        top: 62px;
        
   } 
   
}
