.quote {
    position: relative;
    background-image: url(../../assets/bg-quote.png);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1170px;
    max-height: 400px;

    &__wrap {
        max-width: 710px;
        margin: 48px 32px;

        @include media("mobile") {
            margin: 100px 160px;
        }
    }

    &__icon {
        position: absolute;
        width: 102px;
        height: 84px;
        top: 10px;
        left: 10px;

        @include media("mobile") {
            top: 70px;
            left: 100px;
        }
    }

    &__text {
        @include text(24px, 400, $white-color, 34px);
        letter-spacing: 0.64px;
        margin-bottom: 40px;

        @include media("mobile") {
            @include text(32px, 400, $white-color, 46px);
        }
    }

    &__author {
        @include text(20px, 400, $white-color, 20px, "secondary");
        font-style: italic;
        letter-spacing: 1.28px;
    }
}
