.reviews {
    &__heading {
        max-width: 400px;
        margin-bottom: 30px;

        @include media("mobile") {
            margin-bottom: 50px;
        }
    }

    &__title {
        @include text(32px, 400, $dark-blue-color, 38px, "secondary");
        margin-bottom: 20px;

        @include media("mobile") {
            @include text(40px, 400, $dark-blue-color, 48px, "secondary");
        }
    }

    &__description {
        @include text(16px, 300, $dark-blue-color-80, 24px);

        @include media("mobile") {
            @include text(18px, 300, $dark-blue-color-80, 26px);
        }
    }

    &__cards-wrapper {
        @include flex();
        gap: 8px;
        flex-wrap: wrap;

        @include media("mobile") {
            gap: 30px;
        }
    }

    &__card {
        position: relative;
        width: 100%;

        @include media("mobile") {
            max-width: 370px;
            max-height: 340px;
        }
    }

    &__image-wrapper {
        max-width: 100%;

        @include media("mobile") {
            max-width: 370px;
            max-height: 340px;
        }
    }

    &__image {
        width: 100%;
        height: 100%;
    }

    &__text-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        padding: 30px 40px;
    }

    &__text {
        @include text(16px, 400, $white-color-80, 26px);
        margin-bottom: 26px;
        min-height: 234px;
    }

    &__author {
        @include text(20px, 400, $white-color, 20px, "secondary");
        font-style: italic;
        letter-spacing: 1.28px;
    }
}
