.video {
    // border: 1px solid blue;
    @include flex($justification: center);

    &__inner {
        // border: 1px solid red;
        max-width: 343px;
        max-height: auto;

        @include media("mobile") {
            max-width: 970px;
            max-height: auto;
        }
    }

    &__figure {
        @include flex($direction: column);
        row-gap: 50px;
    }

    &__tablet {
        position: relative;
    }

    &__frame {
        // border: 1px solid red;
        max-width: 870px;
        max-height: 539px;
        position: absolute;
        top: 31px;
        left: 30px;
        border: none;
        visibility: hidden;
    }

    &__mockup-tablet {
        // position: relative;
        // border: 1px solid red;

        max-width: 343px;
        max-height: auto;

        @include media("mobile") {
            max-width: 970px;
            max-height: 601px;
        }
    }

    &__screensaver {
        position: absolute;
        max-width: 304px;
        max-height: 188px;
        top: 11px;
        left: 12px;
        // z-index: 1;

        @include media("mobile") {
            max-width: 870px;
            max-height: 539px;
            top: 31px;
            left: 30px;
        }
    }

    &__icon {
        position: absolute;
        width: 42px;
        height: 42px;
        top: 90px;
        left: 140px;

        @include media("mobile") {
            top: 240px;
            left: 405px;
        }
    }

    &__figcaption {
        max-width: 880px;
        max-height: auto;
    }

    &__titel {
        @include text(40px, 400, $dark-blue-color, 48px, "secondary");
        margin-bottom: 20px;
    }

    &__description {
        @include text(18px, 300, $dark-blue-color-80, 26px);
    }
}
