* {
    padding: 0;
    margin: 0;
    &,
    &::after,
    &::before {
        box-sizing: border-box;
    }
}

button {
    cursor: pointer;
}

button,
input,
select,
textarea {
    font-family: inherit;
}

body {
    background-image: url(assets/bg-hero.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    max-height: 1028px;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: -100;
}

.title {
    @include text(32px, 400, $dark-blue-color, 38px, "secondary");

    @include media("mobile") {
        @include text(40px, 400, $dark-blue-color, 48px, "secondary");
    }
}

.description {
    @include text(16px, 300, $dark-blue-color-80, 24px);

    @include media("mobile") {
        @include text(18px, 300, $dark-blue-color-80, 26px);
    }
}
