// COLORS
$white-color: #ffffff;
$white-color-90: rgb(255, 255, 255, 0.9);
$gray-color: #e4e4e4;
$dark-gray-color: #586291;
$dark-blue-color: #262a3f;
$green-color: #85BBB1;
$coral-color: #f1897b;
$coral-color-30: rgb(241, 137, 123, 0.3);
$dark-coral-color: #e54f3a;
$transparent: rgb(255, 255, 255, 0.2);

// TYPOGRAPHY
$font-main: "Lato", sans-serif;
$font-secondary: "Playfair Display", serif;

// CONTAINER
$container-width: 1170px;
